<!DOCTYPE html>
<html lang="en">

<head>
  <title>EcoTrack - Weather</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

</head>

<body>

<nav>
  <a href="/">Home</a>
  <a href="/weather">Weather</a>
  <a href="/aqi">AQI Monitor</a>
  <a href="/community">Community</a>
  <a href="/location">📍 Live Location</a>
</nav>


  <h1>Real-Time Weather 🌦️</h1>

  <form action="/weather" method="GET" class="weather-form">
    <label for="city">Enter City:</label>
    <input type="text" id="city" name="city" required>
    <button type="submit">Get Weather</button>
  </form>
  
  

  <div id="weather-info">
    <h2>{{city}} Weather</h2>
    <p>Temperature: {{temp}}°C</p>
    <p>Condition: {{description}}</p>
    <p>Humidity: {{humidity}}%</p>
  </div>

</body>

</html>
